<% include ./partials/header %>
    <div class="wrapper">
    	<h1><%= data["name"] %></h1>
    
        <div class="blocks">      
          <div class="block">
            <h2>Pressure</h2>
            <p><%= data["main"]["pressure"] %> hPa</p>
          </div>
          <div class="block">
            <h2>Current Temperature</h2>
            <p id="temperature"><%= data["main"]["temp"] %> &deg;F</p>
          </div>
          <div class="block">
            <h2>Humidity</h2>
            <p><%= data["main"]["temp_min"] %> &deg;F</p>
          </div>
          <div class="block">
            <h2>Min. Temperature</h2>
            <p><%= data["main"]["temp_min"] %> &deg;F</p>
          </div>
          <div class="block">
            <h2>Max Temperature</h2>
            <p><%= data["main"]["temp_max"] %> &deg;F</p>
          </div>
        </div>
    
        <a href="/">Another weather</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./javascript/main.js"></script>
<% include ./partials/footer %>